# SPDX-License-Identifier: Apache-2.0

# Indy Admin
*       @hyperledger-indy/indy-admin

# Indy Common
*       @hyperledger-indy/indy-common

# Indy Plenum Maintainers
*       @hyperledger-indy/indy-plenum-maintainers
